#!/bin/bash
set -x
apt-get update
apt-get install -y curl

# Install npm, nvm, and node (using same pattern as Claude Code)
curl -o- https://raw.githubusercontent.com/nvm-sh/nvm/v0.40.2/install.sh | bash
source "$HOME/.nvm/nvm.sh"
nvm install 22
npm -v

# Install Qwen Code
npm install -g @qwen-code/qwen-code@{{ version }}

qwen -v